rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{customer}/{document=**} {

      // R OF CRUD   
      // Allow any authenticated user to read a single document
      // allow get: if isSignedIn();
      // Only the authenticated user who authored the document to read
      allow get: if isSignedIn() && loggedInUserOwnsTheDocument();

      // Allow any authenticated user to read a list of documents
      // allow list: if isSignedIn();
      // Only the authenticated user who authored the document can read
      // https://firebase.google.com/docs/firestore/security/rules-query#rules_are_not_filters
      allow list: if isSignedIn() && loggedInUserOwnsTheDocument();


      // CUD OF CRUD
      // Allow any authenticated user to insert a document
      allow create: if isSignedIn();

      // Any authenticated user to update an existing document
      // allow update: if isSignedIn();

      // Only the authenticated user who authored the document can update
      allow update: if isSignedIn() && loggedInUserOwnsTheDocument();
      
      // No one can delete documents
      allow delete: if false;
    }
  }

  function loggedInUserOwnsTheDocument() {
    return request.auth.uid == resource.data.uid;
  }

  function isSignedIn() {
    return request.auth != null;
  }
}